.register {
    height: 100vh;
    background-image: url(../../assets/login/MaskGroup5.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100% !important;
    position: fixed;
    left: 0;
    top: 0;
    background-position-x: 90%;
}

.register .row {
    width: 100%;
}

.register .content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 80px 0px 0px;

}

.register .logo img {
    width: 250px;
    height: 95px;

}

.register h2 {
    font-family: Amiri-Bold;
    letter-spacing: 0px;
    color: var(--color-red);
    opacity: 1;
    font-size: 24px;
    margin: 10px 0;
}

.register p {
    font-size: 18px;
    margin: 10px 0;
    text-align: right;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0px;
    color: #242424;
}

.register .create-account {
    font-size: 20px;
    color: var(--primary-color);
    ;
    text-decoration: none;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: right;
}

.register input {
    top: 526px;
    left: 1382px;
    width: 398px;
    height: 52px;
    padding: 10px;
    margin: 10px 0;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 8px #2C27380A;
    border: 1px solid #DBE2EA;
    border-radius: 6px;
    opacity: 1;
}

.submit-button {
    width: 398px;
    padding: 10px 20px;
    background-color: #002e6d;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    background: var(--unnamed-color-002e6d) 0% 0% no-repeat padding-box;
    background: #002E6D 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 8px #2C273814;
    border-radius: 6px;
    opacity: 1;
}

@media (min-width: 1024px) {}

@media (min-width: 480px) {
    /* @media (max-width: 768px) { */

        .register {
            background-position: 75%;
        }

        .content-section {
            padding: 100px 30px 0px 100px !important;
        }

        .register input {
            margin: 20px;
            width: 400px;
            padding: 30px 10px;
        }
    }
/* } */

@media (min-width: 768px) {
    /* @media (max-width: 1024px) { */
        .register {
            background-position: 80%;
            
        }
    }


/* } */