@font-face {
      font-family: Amiri-bold;
      src: url(../assets/fonts/Amiri/Amiri-Bold.ttf);
}

@font-face {
      font-family: Amiri-regular;
      src: url(../assets/fonts/Amiri/Amiri-Regular.ttf);
}